body { 
    background-image: url(../img/fondoUNT.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 85rem;
    background-position: center center;
    background-attachment:fixed;
    backdrop-filter: blur(6px);
    
  }

.cambiarColor{color:white;}
.cambiarColor:hover{color:red}